{
  "env": {
    "node": true
  },
  "ecmaFeatures": {
    "jsx": true
  },
  "rules": {
    "quotes": [0],
/*    "no-trailing-spaces": [0],*/

    /* Enforces 2 spaces indentation
       http://eslint.org/docs/rules/indent */
    "indent": [2, 2],

    /* Disallows TODO/FIXMEs
       http://eslint.org/docs/rules/no-warning-comments */
    "no-warning-comments": 1
  }
}
