.page.careers {
  .section-lookfor {
    .title-section,
    .wrapper-section {
      background: @color-rare;
    }

    .subsection {
      .std-xpadding;
      margin-bottom: 4.5em;

      img {
        width: auto;
        height: 2em;
        margin-bottom: 2em;
        background: #eee;
      }
    }
  }
  .title-section { background: @color-empty; }
}
