<template name="contactOverlay">
  <div class="overlay-screen-contact">
    <a class="overlay-close">
      <span class="icon-cross"></span>
    </a>
    <form class="contact-form-wrapper">
      <div class="title-overlay">Work with us</div>
      <fieldset>
        <div class="input-symbol left">
					<input type="text" name="name" class="{{alertClass 'name'}}"  placeholder="Name" title="{{errorFor 'name'}}">
					<span class="icon-user"></span>
			  </div>
        <div class="input-symbol left">
          <input type="email" name="email" class="{{alertClass 'email'}}" placeholder="Email Address" title="{{errorFor 'email'}}">
          <span class="icon-email"></span>
        </div>
        {{> autosizedTextarea aboutAttrs}}

        <div class="fieldset-group services">
          <div class="fieldset-group-title">Services {{#if hasError 'services'}}<span class="error">{{errorFor 'services'}}</span>{{else}}<span class="subtext">Select all that apply</span>{{/if}}</div>

          <div class="btns-group">
            <input type="checkbox" name="services" value="strategy" id="strategy">
            <label for="strategy" class="btn-toggle">Strategy</label>

            <input type="checkbox" name="services" value="design" id="design">
            <label for="design" class="btn-toggle">Design</label>

            <input type="checkbox" name="services" value="engineering" id="engineering">
            <label for="engineering" class="btn-toggle">Engineering</label>

            <input type="checkbox" name="services" value="consulting" id="consulting">
            <label for="consulting" class="btn-toggle">Consulting</label>
          </div>
        </div>
        <div class="fieldset-group">
          <div class="fieldset-group-title">Timing {{#if hasError 'timing'}}<span class="error">{{errorFor 'timing'}}</span>{{/if}}</div>

          <div class="btns-group">
            <input type="radio" name="timing" value="today" id="today">
            <label for="today" class="btn-toggle">Today</label>

            <input type="radio" name="timing" value="quarter" id="quarter">
            <label for="quarter" class="btn-toggle">Quarter</label>

            <input type="radio" name="timing" value="year" id="year">
            <label for="year" class="btn-toggle">This Year</label>
          </div>
        </div>
        <div class="fieldset-group hidden {{budgetVisibleClass}}">
          <div class="fieldset-group-title">Budget {{#if hasError 'budget'}}<span class="error">{{errorFor 'budget'}}</span>{{/if}}</div>

          <div class="btns-group">
            <input type="radio" name="budget" value="25k" id="25k">
            <label for="25k" class="btn-toggle">25k–50k</label>

            <input type="radio" name="budget" value="50k" id="50k">
            <label for="50k"  class="btn-toggle">50k–100k</label>

            <input type="radio" name="budget" value="100k" id="100k">
            <label for="100k" class="btn-toggle" >+100k</label>

            <input type="radio" name="budget" value="notsure" id="notsure">
            <label for="notsure"  class="btn-toggle">Not sure</label>
          </div>

        </div>
        <button class="btn-primary caps" {{disabled}} type="submit">Send Message</button>
      </fieldset>
      <div class="ancillary-contact vcard">
        <div class="wrapper-connect">
          <div class="title-ancillary">Connect</div>
          <div class="list">
            <a class="url monochrome" href="http://twitter.com/percolatestudio" target="_blank">Twitter</a>
            <a class="url monochrome" href="http://github.com/percolatestudio" target="_blank">Github</a>
            <a class="email monochrome" href="mailto:us@percolatestudio.com?subject=Hello%20Percolate">Email</a>
          </div>
        </div>
        <div class="wrapper-visit">
          <div class="title-ancillary">Visit Us</div>
          <a class="location-wrapper organization-unit adr"
            href="https://www.google.com/maps/place/169+11th+St,+San+Francisco,+CA+94103/@37.77357,-122.415787,17z/data=!3m1!4b1!4m2!3m1!1s0x8085809d83ced185:0xf5e9ad23d5cd5ce5" target="_blank">
            <span class="fn organization-name" style="display:none;">Percolate Studio</span>
            <span>Percolate USA</span><br>
            <span class="street-address">169 11th Street</span><br>
            <span class="locality">San Francisco</span>, <span class="region">CA</span> <span class="postal-code">94103</span>
          </a>
          <a class="location-wrapper organization-unit adr"
            href="https://www.google.com/maps/place/50+Herbert+St,+Northcote+VIC+3070,+Australia/@-37.771764,144.995165,17z/data=!3m1!4b1!4m2!3m1!1s0x6ad6437ca420f13f:0xb6908ada5cdfa379"  target="_blank">
            <span>Percolate AUS</span><br>
            <span class="street-address">50 Herbert Street</span><br>
            <span class="locality">Melbourne</span>, <span class="region">VIC</span> <span class="postal-code">3001</span>
          </a>
        </div>
      </div>
    </form>
  </div>
</template>