<template name="home">
  {{#title}}Percolate Studio{{/title}}
  {{#description}}Percolate Studio is a Meteor Development Studio{{/description}}

  <div class="page home">
    <section class="section-home-why wrapper-section">
      <div class="hero-wrapper">
        <h1 class="title-page">Percolate Studio builds digital products to improve people's lives.</h1>
        <a class="btn-wire caps" href="{{pathFor 'why'}}">See Why</a>
      </div>
    </section>

    <section class="section-home-how collage">
      <div class="grid-2-square">
        <h2 class="title-section">Our approach</h2>
        <div class="col-content">
          <p>Clients hire our interdisciplinary team of product designers & software engineers to improve the lives of their customers. We identify challenges, design solutions, and make technology human.</p>
          <a class="btn-secondary caps" href="{{pathFor 'how'}}">See how we do it</a>
        </div>

      </div>

      <div class="grid-2 bg-image-who-we-are"></div>
      <div class="grid-4-square bg-image-who-we-are-2"></div>
      <div class="grid-4-square bg-image-who-we-are-3"></div>
    </section>


    <section class="section-home-what">
      <h2 class="title-section">What we do</h2>
      <div class="wrapper-section">
        <div class="grid-2 col-content">
          <p>We build software that spans consumer, education, and business intelligence. We&#8217;ve helped large companies like Apple and Yummly achieve their goals. Countless small businesses trust us to bring their products to market.</p>
        </div>
        <div class="grid-2 col-content">
          <p>Our books, presentations, and articles help people understand the craft of building products. Our frequent contributions to open source help bring ideas to life.</p>
        </div>

        <div class="grid-1 col-content">
          <a class="btn-secondary caps"  href="{{pathFor 'what'}}">See our work</a>
        </div>
        <div class="example-screens">
          <img class="desktop" src="/img/ss-browserchrome-meetinghero-meeting.png">
          <img class="laptop" src="/img/ss-browserchrome-atmosphere-home.png">
          <img class="tablet" src="/img/ss-ipadchrome-verso-classes.png">
          <img class="phone" src="/img/ss-iphonechrome-localmarket-home.png">
        </div>
      </div>
    </section>
  </div>
</template>