.page.home {
  .col-content {
    .std-xpadding;

    p {
      .font-s3;
      @media screen and (min-width: @breakpoint) { .font-m2; }

      line-height: 1.9 !important;

      margin-bottom: 2rem;


      @media screen and (min-width: @breakpoint) {
        margin-top: -1.25rem;
      }
    }
    .btn-secondary {
      margin-bottom: 3rem;
    }
  }


  .section-home-why {
    .position(relative, auto, auto, auto, auto, 100%, 95%);
    background: @color-full;
    margin-top: -36px; // nav offset
    text-align: center;

    .hero-wrapper {
      .transform(translate3d(0, -50%, 0));
      .position(absolute, 50%, 0, auto, 0, 80%);
      margin: 0 auto;
    }

    .title-page {
      .font-m3;
      @media screen and (min-width: @breakpoint) { .font-l2; }
      .type-light;
      color: @color-empty;
      margin-bottom: .75em;
    }
    .btn-wire {
      @media screen and (min-width: @breakpoint) { width: 240px; }
    }
  }
  .section-home-who {
    .col-right {
      height: 600px;
    }

    .col-right {
      .inline-block-whitespace;

      > * {
        display: inline-block;
        vertical-align: top;
      }
      .bg-image-who-we-are {
        width: 100%;
        height: 66.66%;
      }
      .bg-image-who-we-are-2,
      .bg-image-who-we-are-3 {

        width: 50%;
        height: 33.33%;
      }
    }
  }
  .section-home-what {
    background: @color-raw;
    @media screen and (min-width: @breakpoint) {
      padding-bottom: 6em;
    }
  }

  .example-screens {
    .std-xpadding;
    clear: both;
    position: relative;


    @media screen and (min-width: 30em) { height: 340px; }
    @media screen and (min-width: 50em) { height: 380px; }
    @media screen and (min-width: 70em) { height: 480px; }
    @media screen and (min-width: 80em) { height: 560px; }
    @media screen and (min-width: 100em) {
      height: 640px;
      max-width: 100em;
      margin-left: auto;
      margin-right: auto;
    }

    img {
      display: block;
      position: relative;
    }

    .desktop {
      display: none;
      width: 100%;
      z-index: 1;
      @media screen and (min-width: @breakpoint) {
        .position(absolute, auto, -5%, 3%, auto, 50%, auto);
        display: block;
      }

    }
    .laptop {
      display: none;
      margin-top: 2rem;
      margin-left: auto;
      margin-right: auto;
      width: 90%;
      z-index: 2;
      @media screen and (min-width: @breakpoint) {
        .position(absolute, auto, auto, 0, -5%, 45%, auto);
        display: block;
        margin: 0;
      }

    }
    .tablet {
      .position(relative, auto, auto, 0, auto, 87%, auto);
      z-index: 3;
      @media screen and (min-width: @breakpoint) {
        .position(absolute, auto, auto, -5%, 16%, 36%, auto);
        margin: 0;
      }

    }
    .phone {
      z-index: 4;
      .position(relative, auto, auto, 0, auto, 22%, auto);
      .transform(translateY(-95%));
      float: right;
      @media screen and (min-width: @breakpoint) {
        .position(absolute, auto, 40%, -7%, auto, 10%, auto);
        .transform(translateY(0));
        margin: 0;
      }
    }
  }

}