<template name="how">
  <div class="page how">
    <header class="collage medium">
      <div class="grid-2-square">
        <h1 class="title-page">How</h1>
        <p class="description-page">With clients spanning consumer, education & business organizations our interdisciplinary team has the flexibility to impact any industry.</p>
      </div>
      <div class="grid-2-square bg-image-how"></div>
    </header>



    <section class="section-services">
      <h2 class="title-section">Services</h2>
      <div class="grid-3 subsection">
        <img title="Design Services" src="img/services-design-160x160.svg"/>
        <div class="meta">
          <h3 class="subtitle-section">Design</h3>
          <p>Visual, Experience, Interaction, Branding, Application, Editorial</p>
        </div>
      </div>
      <div class="grid-3 subsection">
        <img title="Strategy Services" src="img/services-strategy-160x160.svg"/>
        <div class="meta">
          <h3 class="subtitle-section">Strategy</h3>
          <p>Ideation, Research, Personas, Dashboards, Reporting, Analytics</p>
        </div>
      </div>
      <div class="grid-3 subsection">
        <img title="Engineering Services" src="img/services-engineering-160x160.svg"/>
        <div class="meta">
          <h3 class="subtitle-section">Engineering</h3>
          <p>Realtime, Full-Stack, Deployment, Performance, Monitoring, Mobile</p>
        </div>
      </div>

    </section>

    <section class="section-process">
      <h2 class="title-section">Process</h2>
      <ol class="process">
        <li class="subsection">
          <div class="meta">
            <h3 class="subtitle-section">Discover</h3>
            <p>There is an incredible responsibility when making software that impacts lives. We start with one fundamental question: What’s best for people?</p>
          </div>
        </li>
        <li class="subsection">
          <div class="meta">
            <h3 class="subtitle-section">Test</h3>
            <p>Great products result from collaboration between creator and consumer. Constantly challenging assumptions and validating ideas keeps us true to our intention.</p>
          </div>
        </li>
        <li class="subsection">
          <div class="meta">
            <h3 class="subtitle-section">Build</h3>
            <p>People differ and so do their needs. Solving diverse challenges means having the courage to build what is right and the restraint to know what is appropriate.</p>
          </div>
        </li>
      </ol>
    </section>

    <section class="section-team">
      <h2 class="title-section">Team</h2>

      <a class="grid-5 avatar" href="https://twitter.com/tmeasday" rel="nofollow" target="_blank">
        <img title="Tom Coleman" src="img/headshots-tom-280x340.jpg">
        <div class="name">Tom Coleman</div>
      </a>
      <a class="grid-5 avatar" href="https://twitter.com/domyen" rel="nofollow" target="_blank">
        <img title="Dominic Nguyen" src="img/headshots-dom-280x340.jpg">
        <div class="name">Dominic Nguyen</div>
      </a>
      <a class="grid-5 avatar" href="https://twitter.com/zqzoltan" rel="nofollow" target="_blank">
        <img title="Zoltan Olah" src="img/headshots-zol-280x340.jpg">
        <div class="name">Zoltan Olah</div>
      </a>
      <a class="grid-5 avatar" href="https://twitter.com/timbotnik" rel="nofollow" target="_blank">
        <img title="Timothy Hingston" src="img/headshots-zol-280x340.jpg">
        <div class="name">Timothy Hingston</div>
      </a>
      <a class="grid-5 avatar" href="https://twitter.com/dburles" rel="nofollow" target="_blank">
        <img title="David Burles" src="img/headshots-tom-280x340.jpg">
        <div class="name">David Burles</div>
      </a>
      <a class="grid-5 avatar"  href="https://twitter.com/chazbatrouney" rel="nofollow" target="_blank">
        <img title="Chaz Batrouney" src="img/headshots-chaz-280x340.jpg">
        <div class="name">Chaz Batrouney</div>
      </a>

    </section>

    <section class="section-logo">
      <h2 class="title-section">Technology</h2>

    </section>
    <div class="collage short">
      <div class="grid-5 logo">
        <img title="NodeJS" src="img/logo-node.svg">
      </div>
      <div class="grid-5 logo">
        <img title="iOS" src="img/logo-ios.svg">
      </div>
      <div class="grid-5 logo">
        <img title="MeteorJS" src="img/logo-meteor.svg">
      </div>
      <div class="grid-5 logo">
        <img title="Amazon Web Services" src="img/logo-aws.svg">
      </div>
      <div class="grid-5 logo">
        <img title="MongoDB" src="img/logo-mongo.svg">
      </div>
    </div>
  </div>
</template>