<template name="menuOverlay">
  <div class="overlay-screen-menu">
    <a class="overlay-close">
      <span class="icon-cross"></span>
    </a>
    <div class="wrapper-menu">
      <div class="level-top">
        <a href="{{pathFor 'why'}}">
          <span class="title-link">Why</span>
          <span class="subtitle-link">Our intent</span>
        </a>
        <a href="{{pathFor 'how'}}">
          <span class="title-link">How</span>
          <span class="subtitle-link">The approach</span>
        </a>
        <a href="{{pathFor 'what'}}">
          <span class="title-link">What</span>
          <span class="subtitle-link">Our work</span>
        </a>
      </div>
      <div class="level-bottom">
        <a href="{{pathFor 'home'}}" class="monochrome">Home</a>
        <a href="{{pathFor 'careers'}}" class="monochrome">Join Us</a>
        <a href="http://blog.percolatestudio.com" class="monochrome">Blog</a>
        <a data-contact class="monochrome">Contact</a>
      </div>
    </div>
  </div>
</template>