.page.what {
  .collage .grid-2-square:last-child {
    //hide the negative space when small
    display: none;
    @media screen and (min-width: 50em) { display: inline-block; }
  }

  .item-project {
    @media screen and (min-width: @breakpoint) {
      &:nth-of-type(5n + 1) {
        height: 50%;
        width: 100%;
      }

    }
  }
}