<template name="what">
  <div class="page what">
    <header class="collage medium">
      <div class="grid-2-square">
        <h1 class="title-page">What</h1>
        <p class="description-page">Percolate creates digital products to improve people's lives. We identify challenges, design solutions, and make technology human. </p>
      </div>
      <div class="grid-2-square bg-image-what"></div>
    </header>

    {{#each products}}
      <a class="item-project bg-image" style="background-image: url('{{thumbnailUrl}}')" href="{{pathFor 'product'}}">
        <span class="meta">
          <p class="subtitle-item">{{title}}</p>
          <!-- <h3 class="title-item"><a>Giving App Developers a HeadStart</a></h3> -->
        </span>
      </a>
    {{/each}}

    <section class="section-logo">
      <h2 class="title-section">Selected Clients</h2>
      <a class="grid-5 logo" href="http://apple.com" target="_blank">
        <img title="Apple Computer" src="img/logo-apple.svg">
      </a>
      <a class="grid-5 logo" href="http://yummly.com" target="_blank">
        <img title="Yummly" src="img/logo-yummly.svg">
      </a>
      <a class="grid-5 logo" href="http://meteor.com" target="_blank">
        <img title="MeteorJS" src="img/logo-meteor.svg">
      </a>
      <a class="grid-5 logo">
        <img src="http://placehold.it/240x300">
      </a>
    </section>
  </div>
</template>