<template name="styleguideCaseStudy">
  {{#metaTitle}}Styleguide Case Study | Percolate Studio {{/metaTitle}}

  {{#Layout template='pageLayout'}}
    <div class="bg-image-case-study-hero" style="background-image: url('https://unsplash.imgix.net/uploads/14120938606568dde6e2b/c9e42240?q=75&w=1080&h=1080&fit=max&fm=jpg&s=580f266cd8b2994d47fc7b656da3f074');"></div>
    <header>
      <div class="subtitle-case-study">Meteor Development Group</div>
      <h1 class="title-case-study">Giving App Makers a Headstart</h1>

      <div class="collage-text formatting">
        <div class="grid-2">
          <p><em>Project Brief:</em> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in luctus purus, nec posuere tellus. In fermentum, justo vitae mollis euismod, tellus neque vestibulum ante, sed pellentesque ipsum orci id elit. Suspendisse potenti. Curabitur pellentesque aliquet mauris. Morbi pulvinar fermentum turpis, ullamcorper commodo dui consequat a. Mauris vitae orci pharetra, mollis massa vel, adipiscing urna. Fusce in augue ut nulla ullamcorper commodo. Fusce sodales, ante non fermentum pharetra, nunc sapien consequat urna, in laoreet diam elit vitae turpis. Maecenas sagittis massa ut scelerisque fermentum.</p>
        </div>
        <div class="grid-2">
          <p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed adipiscing cursus mauris, quis auctor dui placerat eget. Aenean fermentum diam ac velit laoreet porttitor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut tristique pellentesque dictum. Cras a ante porttitor, cursus massa ut, vehicula magna. Maecenas non gravida erat.</p>
          <p>Fusce ac eros sit amet dolor egestas suscipit sit amet eu ipsum. Mauris et felis a mauris euismod ultrices. Donec sollicitudin tempor dignissim.</p>
        </div>
      </div>
    </header>

    <div class="collage">
      <div class="grid-1 bg-image" style="background-image: url('https://unsplash.imgix.net/reserve/tdedkQnQGCgIhk9eoEkP_DSC_0983.JPG?fit=crop&fm=jpg&h=700&q=75&w=1050');"></div>
    </div>

    <div class="wrapper-content">
      <div class="full-up formatting">
        <h2>Identifying Goals</h2>
        <p>Process: Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed adipiscing cursus mauris, quis auctor dui placerat eget. Aenean fermentum diam ac velit laoreet porttitor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut tristique pellentesque dictum. Cras a ante porttitor, cursus massa ut, vehicula magna. Maecenas non gravida erat.</p>
        <div class="media-inline-rightalign">
        <img class="media" src="https://unsplash.imgix.net/reserve/oIpwxeeSPy1cnwYpqJ1w_Dufer%20Collateral%20test.jpg?fit=crop&fm=jpg&h=875&q=75&w=1050"/>
        <span class="caption"><span class="title-caption">In the dark</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</span>
      </div>
        <p>Fusce ac eros sit amet dolor egestas suscipit sit amet eu ipsum. Mauris et felis a mauris euismod ultrices. Donec sollicitudin tempor dignissim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed adipiscing cursus mauris, quis auctor dui placerat eget. Aenean fermentum diam ac velit laoreet porttitor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut tristique pellentesque dictum. Cras a ante porttitor, cursus massa ut, vehicula magna. Maecenas non gravida erat.</p>
        <p>Fusce ac eros sit amet dolor egestas suscipit sit amet eu ipsum. Mauris et felis a mauris euismod ultrices.</p>
        <p>Fusce ac eros sit amet dolor egestas suscipit sit amet eu ipsum. Mauris et felis a mauris euismod ultrices. Donec sollicitudin tempor dignissim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Sed adipiscing cursus mauris, quis auctor dui placerat eget. Aenean fermentum diam ac velit laoreet porttitor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut tristique pellentesque dictum. Cras a ante porttitor, cursus massa ut, vehicula magna. Maecenas non gravida erat.</p>
        <p>Fusce ac eros sit amet dolor egestas suscipit sit amet eu ipsum. Mauris et felis a mauris euismod ultrices.</p>
      </div>
    </div>

    <div class="media-leftalign">
      <img src="https://unsplash.imgix.net/uploads/1412238370909393b4a19/79f023f1?fit=crop&fm=jpg&h=700&q=75&w=1050"/>
      <span class="caption"><span class="title-caption">Caption</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</span>
    </div>

    <div class="wrapper-content">
      <div class="full-up formatting">
        <h2>Reading between the lines</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>

    <div class="collage">
      <div class="grid-2-square bg-image" style="background-image: url('https://unsplash.imgix.net/reserve/oIpwxeeSPy1cnwYpqJ1w_Dufer%20Collateral%20test.jpg?fit=crop&fm=jpg&h=875&q=75&w=1050')">
      </div>
      <div class="grid-2-square bg-image" style="background-image: url('http://unsplash.imgix.net/reserve/EnF7DhHROS8OMEp2pCkx_Dufer%20food%20overhead%20hig%20res.jpg?fit=crop&fm=jpg&h=700&q=75&w=1050')">
      </div>
    </div>

    <div class="wrapper-content">
      <div class="full-up formatting">
        <h2>Discovering the Classroom</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>

    <div class="collage short">
      <div class="grid-3-square bg-image" style="background-image: url('https://unsplash.imgix.net/reserve/oIpwxeeSPy1cnwYpqJ1w_Dufer%20Collateral%20test.jpg?fit=crop&fm=jpg&h=875&q=75&w=1050')">
      </div>
      <div class="grid-3-square quote-collage">
        <div class="wrapper-quote">
          <div class="title-quote">"It was just, I don't know... amazing"</div>
          <div class="attribution">
            <div class="author">Mary Lou</div>
            <div class="metadata">St. Mary School Student</div>
          </div>
        </div>
      </div>
      <div class="grid-3-square bg-image" style="background-image: url('https://unsplash.imgix.net/reserve/oIpwxeeSPy1cnwYpqJ1w_Dufer%20Collateral%20test.jpg?fit=crop&fm=jpg&h=875&q=75&w=1050')">
      </div>
    </div>

    <div class="pullquote">
      <div class="title-quote">
        "Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
      </div>
      <div class="attribution">
        <div class="author">Stuart Mitchell</div>
        <div class="metadata">VP Mobile</div>
      </div>
    </div>

    <div class="collage">
      <div class="grid-1 bg-image" style="background-image: url('https://unsplash.imgix.net/reserve/tdedkQnQGCgIhk9eoEkP_DSC_0983.JPG?fit=crop&fm=jpg&h=700&q=75&w=1050');"></div>

      <div class="grid-2 bg-image" style="background-image: url('https://unsplash.imgix.net/reserve/oIpwxeeSPy1cnwYpqJ1w_Dufer%20Collateral%20test.jpg?fit=crop&fm=jpg&h=875&q=75&w=1050')">
      </div>

      <div class="grid-2 quote-collage">
        <div class="wrapper-quote">
          <div class="title-quote">Morbi pilvinar frementum turpis ullam corper commodo dui consequat a. Mauris vilae orci phaetra, mollis maetra massa vel, adipiscing</div>
          <div class="attribution">
            <div class="author">Stuart Mitchell</div>
            <div class="metadata">VP Mobile</div>
          </div>
        </div>
      </div>
    </div>

    <div class="wrapper-content">
      <div class="carousel">
        <div class="wrapper"><div class="ss-home"></div></div>
        <div class="wrapper"><div class="ss-fall"></div></div>
        <div class="wrapper">
          <div class="bg-iphone5s"><div class="ss-categories"></div></div>
        </div>
        <div class="wrapper"><div class="ss-recipe"></div></div>
        <div class="wrapper"><div class="ss-winter"></div></div>
      </div>
    </div>

    <div class="collage">
      <div class="grid-2-square bg-image" style="background-image: url('http://unsplash.imgix.net/reserve/EnF7DhHROS8OMEp2pCkx_Dufer%20food%20overhead%20hig%20res.jpg?fit=crop&fm=jpg&h=700&q=75&w=1050')">
      </div>
      <div class="grid-4-square bg-image" style="background-image: url('http://unsplash.imgix.net/reserve/EnF7DhHROS8OMEp2pCkx_Dufer%20food%20overhead%20hig%20res.jpg?fit=crop&fm=jpg&h=700&q=75&w=1050')"></div>
      <div class="grid-4-square bg-image" style="background-image: url('http://unsplash.imgix.net/reserve/EnF7DhHROS8OMEp2pCkx_Dufer%20food%20overhead%20hig%20res.jpg?fit=crop&fm=jpg&h=700&q=75&w=1050')"></div>
      <div class="grid-2 bg-image" style="background-image: url('http://unsplash.imgix.net/reserve/EnF7DhHROS8OMEp2pCkx_Dufer%20food%20overhead%20hig%20res.jpg?fit=crop&fm=jpg&h=700&q=75&w=1050')">
      </div>
    </div>

    <div class="collage">
      <div class="grid-2 copy-collage">
        Context for a series. Max 400 char. NOT apart of the narrative. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla in luctus purus, nec posuere tellus. In fermentum, justo vitae mollis euismod, tellus neque vestibulum ante, sed pellentesque ipsum orci id elit. Suspendisse potenti. Curabitur pellentesque aliquet mauris. Morbi pulvinar fermentum turpis, ullamcorper commodo dui consequat a. Mauris vitae.
      </div>
      <div class="grid-2 bg-image" style="background-image: url('http://unsplash.imgix.net/reserve/EnF7DhHROS8OMEp2pCkx_Dufer%20food%20overhead%20hig%20res.jpg?fit=crop&fm=jpg&h=700&q=75&w=1050')">
      </div>
      <div class="grid-2 bg-image" style="background-image: url('http://unsplash.imgix.net/reserve/EnF7DhHROS8OMEp2pCkx_Dufer%20food%20overhead%20hig%20res.jpg?fit=crop&fm=jpg&h=700&q=75&w=1050')">
      </div>
      <div class="grid-2 bg-image" style="background-image: url('http://unsplash.imgix.net/reserve/EnF7DhHROS8OMEp2pCkx_Dufer%20food%20overhead%20hig%20res.jpg?fit=crop&fm=jpg&h=700&q=75&w=1050')">
      </div>
    </div>
    <div class="wrapper-content">
      <div class="conclusion">Conclusion lorem ipsum dolor sit amet consectatur vesti
    bulum crassa mit arunto desciplico</div>

      <div class="center-up formatting">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <div class="wrapper-cta-case-study">
          <a class="btn-wire-inverse caps cta-case-study" data-contact>Get in Touch</a>
        </div>
      </div>
    </div>
    <div class="title-section featured">Featured Projects</div>
    <div class="collage">
      <a class="grid-2-square item-project bg-image-test-1">
        <span class="subtitle-item">Meteor</span>
      </a>
      <a class="grid-2-square item-project bg-image-test-2">
        <span class="subtitle-item">Verso</span>
      </a>
    </div>
  {{/Layout}}
</template>