<template name="home">
  <section class="section-home-why">
    <h1 class="title-page">Percolate Studio builds digital products to improve peoples lives.</h1>
    <a class="btn-wire">See Why</a>
  </section>

  <section class="section-home-who">
    <div class="col-left">
      <h2 class="title-section">Who we are</h2>
      <p>We are an interdisciplinary team of product designers and engineers. Clients hire us to improve the lives of their customers. We identify challenges, design solutions, and make technology human.</p>
      <a class="btn-secondary">See our approach</a>
    </div>
    <div class="col-right">
      <div class="hero bg-image-who-we-are"></div>
      <div class="bg-image-who-we-are-2"></div>
      <div class="bg-image-who-we-are-3"></div>
    </div>
  </section>
  <section class="section-home-what">
    <div class="col-left">
      <p>We build software that spans consumer, education, technology and business organizations. We’ve helped companies like Apple, Yummly, and Ideo achieve their goals.</p>
      <a class="btn-secondary">See our work</a>
    </div>
    <div class="col-right">
      <p>Our books, presentations, and articles help people understand the craft of building products. Our contributions to open source  help bring dreams to life.</p>
    </div>
    <div class="example-screens">
      <img class="desktop" src="http://placehold.it/780x536/CCCCCC">
      <img class="phone" src="http://placehold.it/90x222/dddddd">
      <img class="tablet" src="http://placehold.it/250x340/eeeeee">
      <img class="laptop" src="http://placehold.it/520x390/CCCCCC">
    </div>
  </section>
</template>