<template name="how">
  <header class="grid-2">
    <div class="col-left">
      <h1 class="title-page">How</h1>
      <p class="description-page">Our interdisciplinary team has the flexibility to impact any industry. Our projects span consumer, education & business organizations.</p>
    </div>
    <div class="col-right bg-image-how"></div>
  </header>

  <section class="section-services">
    <h2 class="title-section">Services</h2>
    <div class="grid-3">
      <div class="subsection">
        <img src="img/logo.svg"/>
        <h3 class="subtitle-section">Design</h3>
        <p>Visual, Experience, Interaction, Branding, Application, Editorial</p>
      </div>
      <div class="subsection">
        <img src="img/logo.svg"/>
        <h3 class="subtitle-section">Strategy</h3>
        <p>Ideation, Research, Personas, Dashboards, Reporting, Analytics</p>
      </div>
      <div class="subsection">
        <img src="img/logo.svg"/>
        <h3 class="subtitle-section">Engineering</h3>
        <p>Realtime, Full-Stack, Deployment, Performance, Monitoring, Mobile</p>
      </div>
    </div>
  </section>

  <section class="section-process">
    <h2 class="title-section">Process</h2>
    <ol class="process">
      <li class="subsection">
        <h3 class="subtitle-section">Discover</h3>
        <p>There is an incredible responsibility when making things that impact lives. We start with one fundamental question: What’s best for people?</p>
      </li>
      <li class="subsection">
        <h3 class="subtitle-section">Test</h3>
        <p>Great products result from collaboration between creators and end users. To keep us true to our intentions, we constantly challenge assumptions and validate ideas.</p>
      </li>
      <li class="subsection">
        <h3 class="subtitle-section">Build</h3>
        <p>People differ and so do their needs. Solving diverse challenges means having the courage to build what is right and the restraint to know what is appropriate.</p>
      </li>
    </ol>
  </section>

  <section class="section-team">
    <h2 class="title-section">Team</h2>
    <div class="grid-5">
      <div class="avatar">
        <img src="http://placehold.it/240x300/666">
        <div class="name">Tom Coleman</div>
      </div>
      <div class="avatar">
        <img src="http://placehold.it/240x300/555">
        <div class="name">Dominic Nguyen</div>
      </div>
      <div class="avatar">
        <img src="http://placehold.it/240x300/666">
        <div class="name">Zoltan Olah</div>
      </div>
      <div class="avatar">
        <img src="http://placehold.it/240x300/555">
        <div class="name">David Burles</div>
      </div>
      <div class="avatar">
        <img src="http://placehold.it/240x300/666">
        <div class="name">Chaz Batrouney</div>
      </div>
      <div class="avatar">
        <img src="http://placehold.it/240x300/555">
        <div class="name">Chaz Batrouney</div>
      </div>
    </div>
  </section>

  <section class="section-technology">
    <h2 class="title-section">Technology</h2>
    <div class="grid-5">
      <div class="tech">
        <img src="http://placehold.it/240x300/f8f8f8">
      </div>
      <div class="tech">
        <img src="http://placehold.it/240x300/f8f8f8">
      </div>
      <div class="tech">
        <img src="http://placehold.it/240x300/f8f8f8">
      </div>
      <div class="tech">
        <img src="http://placehold.it/240x300/f8f8f8">
      </div>
      <div class="tech">
        <img src="http://placehold.it/240x300/f8f8f8">
      </div>
      <div class="tech">
        <img src="http://placehold.it/240x300/f8f8f8">
      </div>
    </div>
  </section>

</template>