<template name="menuOverlay">
  <div class="overlay-screen-menu">
    <a class="overlay-close">
      <span class="icon-close-thin"></span>
    </a>
    <div class="level-top">
      <a href="{{pathFor 'why'}}">
        <span class="title-link">Why</span>
        <span class="subtitle-link">Build dreams</span>
      </a>
      <a href="{{pathFor 'how'}}">
        <span class="title-link">How</span>
        <span class="subtitle-link">Our approach</span>
      </a>
      <a href="{{pathFor 'what'}}">
        <span class="title-link">What</span>
        <span class="subtitle-link">The work</span>
      </a>
    </div>
    <div class="level-bottom">
      <a href="{{pathFor 'home'}}">Home</a>
      <a href="http://blog.percolatestudio.com">Blog</a>
      <a href="{{pathFor 'careers'}}">Careers</a>
      <a data-contact>Contact</a>
    </div>
  </div>
</template>