<template name="what">
  <header class="grid-2">
    <div class="col-left">
      <h1 class="title-page">What</h1>
      <p class="description-page">Percolate creates digital products to improve people's lives. We identify challenges, design solutions, and make technology human. </p>
    </div>
    <div class="col-right bg-image-what"></div>
  </header>

  <section class="section-what">
    {{#each items}}
      <div class="item" style="background-image: url(https://farm4.staticflickr.com/3770/13820513543_b5e11b52ba_z_d.jpg); background-size: cover;">
        <h1>{{name}}</h1>
        <p>{{contents}}</p>
      </div>
    {{/each}}
  </section>
  <section class="section-logo">
    <h2 class="title-section">Selected Clients</h2>
    <div class="grid-5">
      <a class="logo" href="http://apple.com">
        <img title="Apple Computer" src="img/logo-apple.svg">
      </a>
      <a class="logo" href="http://yummly.com">
        <img title="Yummly" src="img/logo-yummly.svg">
      </a>
      <a class="logo" href="http://meteor.com">
        <img title="MeteorJS" src="img/logo-meteor.svg">
      </a>
      <a class="logo">
        <img src="http://placehold.it/240x300">
      </a>
    </div>
  </section>
</template>